<div class="col-4 pt-3">
    <strong class="text-muted">Se termine</strong>
    <div class="custom-control custom-radio">
        <input type="radio" id="{{ interval }}_customRadio1" name="customRadio"
               class="custom-control-input">
        <label class="custom-control-label" for="{{ interval }}_customRadio1">Jamais</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="{{ interval }}_customRadio2" name="{{ interval }}_customRadio"
               class="custom-control-input">
        <label class="custom-control-label" for="{{ interval }}_customRadio2">Le</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="{{ interval }}_customRadio3" name="{{ interval }}_customRadio"
               class="custom-control-input">
        <label class="custom-control-label" for="{{ interval }}_customRadio3">Après</label> <input type="number" min="1"> Occurences
    </div>
</div>