{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Edit Transaction
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Edit Transaction</h1>
        <form method="post" action="{% url 'save-transaction' %}">
            {% csrf_token %}
            {{ transaction_form | crispy }}
             {% if transaction %}
                <input type="hidden" value="{{ transaction.id }}" name="transaction-id">
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
{% endblock %}