{% extends 'layouts/base.html' %}
{% block title %}
    Home
{% endblock %}
{% block style %}
    <style>
        a.episode-link {
            text-decoration: unset !important;
            color: unset !important;
        }

        .card-episode-over {
            background: rgba(0, 0, 0, .05);
            border: 0;
            color: grey;
        }

        .card-episode-ongoing {
            color: #2d99f0;
            font-weight: bold;
            background: rgba(0, 172, 255, 0.02);
            border-color: #2d99f0;
        }

        .col-2.position-fixed {
            right: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="px-3">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    {% for episode in episodes %}
                        {#                        Todo: On doit pouvoir ajouter une prévision sur cette episode(ponctuelle), supprimer une prévision (juste son occurence sur l'episode), ajouter une transation, supprimer une transation#}
                        <div class="col-2">
                            <div class="card-episode card my-2 {% if episode.is_over %}  card-episode-over {% elif episode.is_ongoing %} card-episode-ongoing {% endif %}">
                                <div class="text-center">
                                    <a class="episode-link" data-toggle="collapse" href="#episodeCollapse_{{ episode.id }}" role="button"
                                       aria-expanded="false">
                                        <small>{{ episode.date | date:"D d M Y" }}
                                            {% if episode.income > 0 %}
                                                <span title="+{{ episode.income }} €" class="text-success"><i
                                                        class="fa fa-arrow-circle-up"></i></span>
                                            {% endif %}
                                            {% if episode.outgo > 0 %}
                                                <span title="-{{ episode.outgo }} €" class="text-danger"><i
                                                        class="fa fa-arrow-circle-down"></i></span>
                                            {% endif %}
                                        </small>
                                    </a>
                                    <div class="collapse {% if current_episode and current_episode == episode %} show {% endif %}"
                                         id="episodeCollapse_{{ episode.id }}">
                                        <div class="card-body">
                                            Previsions <br>
                                            {% for forecast in episode.forecast_set.all %}
                                                <small>{{ forecast.amount }} € : {{ forecast.reason }}</small><br>
                                            {% endfor %}
                                            {% if episode.is_over or episode.is_ongoing %}
                                                <hr>
                                                Transactions <br>
                                                {% for transaction in episode.transaction_set.all %}
                                                    <small>{{ transaction.amount }} € : {{ transaction.reason }}</small>
                                                    <br>
                                                {% endfor %}
                                            {% endif %}
                                            <hr>
                                            <a class="btn btn-primary text-light btn-sm"
                                               href="{% url 'view-episode' episode.id %}"> Compute Balance</a>
                                            {% comment %}<br>
                                            {{ episode.is_useful }}
                                            <a class="btn btn-primary text-light btn-sm"
                                               href="{% url 'mark-as-useful' episode.id %}"> Mark as useful</a>{% endcomment %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2 position-fixed">
                <div class="card mt-2">
                    <div class="card-header">Total Balance</div>
                    <div class="card-body">
                        {% if balance.today %}
                            Today : {{ balance.today | floatformat:-2 }} € <br>
                        {% endif %}
                        {% if balance.period %}
                            Over the year : {{ balance.period | floatformat:-2 }} € <br>
                        {% endif %}
                        {% if balance.episode %}
                            On {{ current_episode.date | date:"D d M Y" }} : {{ balance.episode | floatformat:-2 }} €
                        {% endif %}
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header">Prévisions</div>
                    <div class="card-body">
                        <a href="{% url 'add-forecast' %}">Ajouter une prévision</a>
                        {% comment %}Ajout simple des episodes concernés, soit par ajout spécifique ou périodiquement en fixant un interval, une episode de début et une époch de fin, mensuel préciser le x de chaque mois
                        hebdo, le jour de chaque semaine{% endcomment %}
                        <br>
                        <a href="{% url 'index-forecast' %}">Consulter les prévisions</a>
                        <br>
                        <a href="#">Supprimer une prévision</a>
                        {# Supprime toutes les occurrences de la prévision #}
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header">Transactions</div>
                    <div class="card-body">
                        <a href="{% url 'add-transaction' %}">Ajouter une transaction</a>
                        {% comment %}Ajout d'une transaction, on selectionne une episode (par défaut) l'episode courante{% endcomment %}
                        <br>
                        <a href="{% url 'index-transaction' %}">Consulter les transactions</a>
                        <br>
                        <a href="#">Supprimer une transaction</a>
                        {#                        Supprime la transaction #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let elt = document.querySelector('.card-episode-ongoing').parentElement
        setTimeout(() => {
            elt.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
        }, 1000)
    </script>
{% endblock %}