{% extends 'layouts/base.html' %}
{% block title %}
    Home
{% endblock %}
{% block style %}
    <style>
        a.epoch-link {
            text-decoration: unset !important;
            color: unset !important;
        }

        .card-epoch-over {
            background: rgba(0, 0, 0, .05);
            border: 0;
            color: grey;
        }

        .card-epoch-ongoing {
            color: #2d99f0;
            font-weight: bold;
            background: rgba(0, 172, 255, 0.02);
            border-color: #2d99f0;
        }

        .col-2.position-fixed {
            right: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="px-3">
        <div class="row" style="overflow: auto">
            <div class="col-10">
                <div class="row">
                    {% for epoch in epochs %}
                        {#                        Todo: On doit pouvoir ajouter une prévision sur cette epoch(ponctuelle), supprimer une prévision (juste son occurence sur l'epoch), ajouter une transation, supprimer une transation#}
                        <div class="col-2">
                            <div class="card-epoch card my-2 {% if epoch.is_over %}  card-epoch-over {% elif epoch.is_ongoing %} card-epoch-ongoing {% endif %}">
                                <div class="text-center">
                                    <a class="epoch-link" data-toggle="collapse" href="#epochCollapse_{{ epoch.id }}" role="button"
                                       aria-expanded="false">
                                        <small>{{ epoch.date | date:"D d M Y" }}
                                            {% if epoch.income > 0 %}
                                                <span title="+{{ epoch.income }} €" class="text-success"><i
                                                        class="fa fa-arrow-circle-up"></i></span>
                                            {% endif %}
                                            {% if epoch.outgo > 0 %}
                                                <span title="-{{ epoch.outgo }} €" class="text-danger"><i
                                                        class="fa fa-arrow-circle-down"></i></span>
                                            {% endif %}
                                        </small>
                                    </a>
                                    <div class="collapse {% if current_epoch and current_epoch == epoch %} show {% endif %}"
                                         id="epochCollapse_{{ epoch.id }}">
                                        <div class="card-body">
                                            Previsions <br>
                                            {% for forecast in epoch.forecast_set.all %}
                                                <small>{{ forecast.amount }} € : {{ forecast.reason }}</small><br>
                                            {% endfor %}
                                            {% if epoch.is_over or epoch.is_ongoing %}
                                                <hr>
                                                Transactions <br>
                                                {% for transaction in epoch.transaction_set.all %}
                                                    <small>{{ transaction.amount }} € : {{ transaction.reason }}</small>
                                                    <br>
                                                {% endfor %}
                                            {% endif %}
                                            <hr>
                                            <a class="btn btn-primary text-light btn-sm"
                                               href="{% url 'view-epoch' epoch.id %}"> Compute Balance</a>
                                            {% comment %}<br>
                                            {{ epoch.is_useful }}
                                            <a class="btn btn-primary text-light btn-sm"
                                               href="{% url 'mark-as-useful' epoch.id %}"> Mark as useful</a>{% endcomment %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2 position-fixed">
                <div class="card mt-2">
                    <div class="card-header">Total Balance</div>
                    <div class="card-body">
                        {% if balance.today %}
                            Today : {{ balance.today }} € <br>
                        {% endif %}
                        {% if balance.period %}
                            Over the school year : {{ balance.period }} € <br>
                        {% endif %}
                        {% if balance.epoch %}
                            On {{ current_epoch.date | date:"D d M Y" }} : {{ balance.epoch }} €
                        {% endif %}
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header">Prévisions</div>
                    <div class="card-body">
                        <a href="{% url 'add-forecast' %}">Ajouter une prévision</a>
                        {% comment %}Ajout simple des epochs concernés, soit par ajout spécifique ou périodiquement en fixant un interval, une epoch de début et une époch de fin, mensuel préciser le x de chaque mois
                        hebdo, le jour de chaque semaine{% endcomment %}
                        <br>
                        <a href="{% url 'index-forecast' %}">Consulter les prévisions</a>
                        <br>
                        <a href="#">Supprimer une prévision</a>
                        {# Supprime toutes les occurrences de la prévision #}
                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-header">Transactions</div>
                    <div class="card-body">
                        <a href="{% url 'add-transaction' %}">Ajouter une transaction</a>
                        {% comment %}Ajout d'une transaction, on selectionne une epoch (par défaut) l'epoch courante{% endcomment %}
                        <br>
                        <a href="{% url 'index-transaction' %}">Consulter les transactions</a>
                        <br>
                        <a href="#">Supprimer une transaction</a>
                        {#                        Supprime la transaction #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.onload = function (){
            let elt = document.querySelector('.card-ongoing')
            elt.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
        }
    </script>
{% endblock %}